/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table,
.mat-table,
.mat-header-table {
  width: 100%;
}
.mat-header-row {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 50px;
}
.mat-header-cell {
  color: white;
  font-weight: bold;
  font-size: 1.125em;
}
mat-cell,
mat-header-cell,
mat-footer-cell {
  //   flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0 !important;
  border-bottom-style: none !important;
}
h1,
h2 {
  font-weight: bold;
  color: #232526;
}
