.mat-column-correlative {
  flex: 0 0 10% !important;
  width: 10% !important;
}
.mat-column-createdAt {
  flex: 0 0 16% !important;
  width: 16% !important;
}
.mat-column-billingNo {
  flex: 0 0 16% !important;
  width: 16% !important;
}
.mat-column-customer {
  flex: 0 0 26% !important;
  width: 26% !important;
}
.mat-column-total {
  flex: 0 0 16% !important;
  width: 16% !important;
}
.mat-column-total {
  flex: 0 0 16% !important;
  width: 16% !important;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
